ADMIN_CONSOLE_NAME="Deck Admin Console"
ADMIN_CONSOLE_PASSWORD=""
ADMIN_CONSOLE_SECRET=""
DECK_API_URL="https://api.deck.aistack.codes"
SUPERADMIN_AISTACK_URL="https://superadmin.aistack.codes"
USER_ADMIN_BOOTSTRAP_TOKEN=""
PORT="8080"
